<!-- si l'utilisateur est logé et a déjà remplit le questionnaire, on lui affiche les advices. -->
<% if user_signed_in? && current_user.checklists.exists? %>
<p id="notice"><%= notice %></p>

<div class="checklist col-xs-4">
  <div id="btn-checklist">
    <p>Check-List</p>
  </div>

  <div class="container-left">
    
    <div class="checklist-right">
        <% @categories.each do |c| %>
        <div class="cercle col-xs-1" id="color<%= @class += 1%>"></div>
         <ul>
           <li><button class="btn btn-default menu<%= @menu +=1%>" type="submit"><%= c.name %></button></li>
         </ul>
        <% end %>
    </div>
  </div>
</div>

<div class="container-right col-xs-8">
  <table>
    <% @checklist.each do |c| %>
      <% if c.facebook == false %>
        <% @advices.where(ref: '1').each do |advice| %>
          <%= render :partial => "onglet", :locals => {:advice => advice} %>
        <% end %>
      <% else %>
        <p> Vous avez déjà Facebook</p>
      <% end %>
      <% if c.twitter == false %>
        <% @advices.where(ref: '2').each do |advice| %>
          <%= render :partial => "onglet", :locals => {:advice => advice} %>
        <% end %>
      <% else %>
        <p> Vous avez déjà Twitter</p>
      <% end %>
      <% if c.linkedin == false %>
        <% @advices.where(ref: '3').each do |advice| %>
          <%= render :partial => "onglet", :locals => {:advice => advice} %>
        <% end %>
      <% else %>
        <p> Vous avez déjà Twitter</p>
      <% end %>
      <% if c.instagram == false %>
        <% @advices.where(ref: '4').each do |advice| %>
          <%= render :partial => "onglet", :locals => {:advice => advice} %>
        <% end %>
      <% else %>
        <p> Vous avez déjà Instagram</p>
      <% end %>
      <% if c.viadeo == false %>
        <% @advices.where(ref: '5').each do |advice| %>
          <%= render :partial => "onglet", :locals => {:advice => advice} %>
        <% end %>
      <% else %>
        <p> Vous avez déjà Viadeo</p>
      <% end %>
      <% if c.community == false %>
        <% @advices.where(ref: '6').each do |advice| %>
          <%= render :partial => "onglet", :locals => {:advice => advice} %>
        <% end %>
      <% else %>
        <p> Vous êtes déjà Community Manager</p>
      <% end %>
      <% if c.cms == false %>
        <% @advices.where(ref: '7').each do |advice| %>
          <%= render :partial => "onglet", :locals => {:advice => advice} %>
        <% end %>
      <% else %>
        <p> Vous avez déjà un CMS</p>
      <% end %>
      <% if c.seo == false %>
        <% @advices.where(ref: '8').each do |advice| %>
          <%= render :partial => "onglet", :locals => {:advice => advice} %>
        <% end %>
      <% else %>
        <p> Vous avez déjà un bon référencement</p>
      <% end %>
      <% if c.crowdfunding == false %>
        <% @advices.where(ref: '9').each do |advice| %>
          <%= render :partial => "onglet", :locals => {:advice => advice} %>
        <% end %>
      <% else %>
        <p> Vous utilisez déjà une plateforme de crowdfunding</p>
      <% end %>
    <% end %>
  </table>
</div>
    <!-- 	Si il n'y a pas ces 2 conditions on l'invite à remplir le questionnaire -->
    <% else %>
	<%= link_to 'Commencer maintenant !', new_checklist_path %>
<% end %>