<% if user_signed_in? && current_user.checklists.exists? %><!-- si l'utilisateur est loggé et a déjà remplit le questionnaire, on lui affiche les advices. -->
    <div class="checklist col-xs-4">
      <div id="btn-checklist">
        <p>Check-List</p>
      </div>

      <div class="container-left">
        
        <div class="checklist-right">
            <% @categories.each do |c| %>
            <div class="cercle col-xs-1" id="color<%= @class += 1%>"></div>
             <ul>
               <li><button class="btn btn-default menu<%= @menu +=1%>" type="submit"><%= c.name %></button></li>
             </ul>
            <% end %>
        </div>
      </div>
    </div>

    <div class="container-right col-xs-8">
      <table>
        <% @checklist.each do |c| %> <!-- On applique ce qui suit pour chaque questionnaire auquel l'utilisateur à répondu. ( Checklist = le questionnaire).  Si tout va bien, il n'a pu en remplir qu'un seul.) -->
          <% if c.facebook == false %> <!-- Si la réponse à la première question est "non" -->
            <% @advices.where(ref: '1').each do |advice| %> <!-- On prend tous les advices dont la valeur Ref est "1" et pour chacun, on applique ce qui suit-->
              <% unless @user_advices.include?(advice.id) %> <!-- On vérifie pour cet advice, qu'il n'existe pas un user_advice, avec le même Id (cela voudrait dire que l'advice a déjà été réalisé -->
                <%= render :partial => "todo", :locals => {:advice => advice} %> <!-- Si c'est bien le cas, on utilise ici un partial pour afficher pour cet advice : son nom, son contenu, etc. (voir le fichier _todo.html.erb) -->
              <% else %> <!--mais dans le cas contraire (le cas où l'advice a déjà été réalisé) -->
                <%= render :partial => "done", :locals => {:advice => advice} %> <!-- On utilise ici un autre partial pour l'afficher différemment. Notamment, absence du bouton "done" (voir le fichier _done.html.erb) -->
              <% end %>
            <% end %>
          <% else %> <!-- Dans le cas où la réponse à la première question est "oui" -->
            <% @advices.where(ref: '1').each do |advice| %> <!-- On prend tous les advices dont la Ref est "1" -->
              <%= render :partial => "done", :locals => {:advice => advice} %> <!-- et on les affiche avec le partial "done" de telle sorte qu'ils apparaissent comme déjà validés -->
            <% end %>
          <% end %>

          <% if c.twitter == false %> 
            <% @advices.where(ref: '2').each do |advice| %>
              <% unless @user_advices.include?(advice.id) %>
                <%= render :partial => "todo", :locals => {:advice => advice} %>
              <% else %>
                <%= render :partial => "done", :locals => {:advice => advice} %> 
              <% end %>
            <% end %>
          <% else %> 
            <% @advices.where(ref: '2').each do |advice| %> 
              <%= render :partial => "done", :locals => {:advice => advice} %> 
            <% end %>
          <% end %>

          <% if c.linkedin == false %> 
            <% @advices.where(ref: '3').each do |advice| %>
              <% unless @user_advices.include?(advice.id) %>
                <%= render :partial => "todo", :locals => {:advice => advice} %>
              <% else %>
                <%= render :partial => "done", :locals => {:advice => advice} %> 
              <% end %>
            <% end %>
          <% else %> 
            <% @advices.where(ref: '3').each do |advice| %> 
              <%= render :partial => "done", :locals => {:advice => advice} %> 
            <% end %>
          <% end %>

          <% if c.viadeo == false %> 
            <% @advices.where(ref: '4').each do |advice| %>
              <% unless @user_advices.include?(advice.id) %>
                <%= render :partial => "todo", :locals => {:advice => advice} %>
              <% else %>
                <%= render :partial => "done", :locals => {:advice => advice} %> 
              <% end %>
            <% end %>
          <% else %> 
            <% @advices.where(ref: '4').each do |advice| %> 
              <%= render :partial => "done", :locals => {:advice => advice} %> 
            <% end %>
          <% end %>

          <% if c.instagram == false %> 
            <% @advices.where(ref: '5').each do |advice| %>
              <% unless @user_advices.include?(advice.id) %>
                <%= render :partial => "todo", :locals => {:advice => advice} %>
              <% else %>
                <%= render :partial => "done", :locals => {:advice => advice} %> 
              <% end %>
            <% end %>
          <% else %> 
            <% @advices.where(ref: '5').each do |advice| %> 
              <%= render :partial => "done", :locals => {:advice => advice} %> 
            <% end %>
          <% end %>

          <% if c.community == false %> 
            <% @advices.where(ref: '6').each do |advice| %>
              <% unless @user_advices.include?(advice.id) %>
                <%= render :partial => "todo", :locals => {:advice => advice} %>
              <% else %>
                <%= render :partial => "done", :locals => {:advice => advice} %> 
              <% end %>
            <% end %>
          <% else %> 
            <% @advices.where(ref: '6').each do |advice| %> 
              <%= render :partial => "done", :locals => {:advice => advice} %> 
            <% end %>
          <% end %>

          <% if c.cms == false %> 
            <% @advices.where(ref: '7').each do |advice| %>
              <% unless @user_advices.include?(advice.id) %>
                <%= render :partial => "todo", :locals => {:advice => advice} %>
              <% else %>
                <%= render :partial => "done", :locals => {:advice => advice} %> 
              <% end %>
            <% end %>
          <% else %> 
            <% @advices.where(ref: '7').each do |advice| %> 
              <%= render :partial => "done", :locals => {:advice => advice} %> 
            <% end %>
          <% end %>

          <% if c.seo == false %> 
            <% @advices.where(ref: '8').each do |advice| %>
              <% unless @user_advices.include?(advice.id) %>
                <%= render :partial => "todo", :locals => {:advice => advice} %>
              <% else %>
                <%= render :partial => "done", :locals => {:advice => advice} %> 
              <% end %>
            <% end %>
          <% else %> 
            <% @advices.where(ref: '8').each do |advice| %> 
              <%= render :partial => "done", :locals => {:advice => advice} %> 
            <% end %>
          <% end %>

          <% if c.crowdfunding == false %> 
            <% @advices.where(ref: '9').each do |advice| %>
              <% unless @user_advices.include?(advice.id) %>
                <%= render :partial => "todo", :locals => {:advice => advice} %>
              <% else %>
                <%= render :partial => "done", :locals => {:advice => advice} %> 
              <% end %>
            <% end %>
          <% else %> 
            <% @advices.where(ref: '9').each do |advice| %> 
              <%= render :partial => "done", :locals => {:advice => advice} %> 
            <% end %>
          <% end %>

        <% end %>
      </table>
    </div>
    </div>

    <!-- 	Si il n'y a pas ces 2 conditions on l'invite à remplir le questionnaire -->
  <% else %>
  
      <!-- video_tag("Motion-Design-Help-Asso.mp4", size="100%") -->
      <div id="video-bg">
        <a href="#"><%= image_tag("HelpAssobaseline.png", :width => "50%")%></a>
      </div>
      <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2" id="explain-concept">
        <h1>Help Asso vous aide à vous numériser</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, unde officia quos officiis reiciendis</br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quis soluta nam.</p>
        <div id="btn-not-full"><%= link_to 'Tester !', new_checklist_path %></div>
      </div>
    


    

	 
  <% end %>