<p id="notice"><%= notice %></p>

<div class="checklist col-xs-4">
  <div id="btn-checklist">
    <p>Check-List</p>
  </div>

  <div class="container-left">
    
    <div class="checklist-right">
        <% @categories.each do |c| %>
        <div class="cercle col-xs-1" id="color<%= @class += 1%>"></div>
         <ul>
           <li><button class="btn btn-default menu<%= @menu +=1%>" type="submit"><%= c.name %></button></li>
         </ul>
        <% end %>
    </div>
  </div>
</div>
     
     
     <div class="container-right col-xs-8">
     <table>
      <% @advices.each do |advice| %>
        <tr>
         <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
           <div class="reset panel panel-default cat<%= advice.category_id %>">
            <div class="reset panel-heading cat<%= advice.category_id %>" role="tab" id= "heading<%= @class += 1%>">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= @class%>" aria-expanded="false" aria-controls="collapse<%= @class%>">
                  
                   <%= form_for advice do |f| %>
                  <%= f.check_box :status , :onclick => "this.form.submit()" , :class => "checked" %>
                  <%= f.submit :class => "display-none"%>
                   <% end %>
                   <%= advice.name %>
                </a>
                </h4>
              </div>
              <div id="collapse<%= @class%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= @class %>">
                <div class="panel-body">
                  
                  <p><%= advice.content %></p>
                  <p>Ressources :</p>
                  <p>
                    <a href="<%= advice.link1 %>"><%= advice.linkname1 %></a><br>
                    <a href="<%= advice.link2 %>"><%= advice.linkname2 %></a><br>
                    <a href="<%= advice.link3 %>"><%= advice.linkname3 %></a>
                  </p>
              <!--Bouttons show - edit - Destroy-->
                <% if user_signed_in? && current_user.email == "admin@helpasso.fr" %>
                 <td><%= link_to 'Show', advice %></td>
                  <td><%= link_to 'Edit', edit_advice_path(advice) %></td>
                  <td><%= link_to 'Destroy', advice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
        </tr>
                </div>
              </div>
          </div>
      <% end %>
    </div>

</table>

<br>
<% if user_signed_in? && current_user.email == "admin@helpasso.fr" %>
<%= link_to 'New Advice', new_advice_path %>
<% end %>

<% if user_signed_in? && current_user.email == "admin@helpasso.fr" %>
                  <% end %>
