<p id="notice"><%= notice %></p>

<h1>Listing Advices</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |c| %>
      <li><a href="#"><%= c.name %></a></li>
    <% end %>

    <% @advices.each do |advice| %>
      <tr class = "cat<%= advice.category_id %>">
        <td><div class="checkboxWrapper">
          <input type="checkbox" id="myCheckbox" unchecked/>
          <label for="myCheckbox">
            <svg class="checkmark" width="56" height="56">
              <path d="m25,36 l14,-16"
                    style="stroke-dasharray: 27px;"></path>
              <path d="m25,36 l-8,-9"
                    style="stroke-dasharray: 11px;"></path>
            </svg>
            <svg class="cross" width="56" height="56">
              <path d="m28,28 l-8,-8"
                    style="stroke-dasharray: 13px;"></path>
              <path d="m28,28 l8,8"
                    style="stroke-dasharray: 13px;"></path>
              <path d="m28,28 l-8,8"
                    style="stroke-dasharray: 13px;"></path>
              <path d="m28,28 l8,-8"
                    style="stroke-dasharray: 13px;"></path>
            </svg>
          </label>
        </div><%= advice.name %></td>
        <td><%= advice.content %></td>
        <td><%= link_to 'Show', advice %></td>
        <td><%= link_to 'Edit', edit_advice_path(advice) %></td>
        <td><%= link_to 'Destroy', advice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advice', new_advice_path %>
