<p id="notice"><%= notice %></p>

<div class="checklist">
        <p>Checklist</p>
      </div>

      <div class="checklist-left">
        
      </div>


<div class="container-left col-xs-4">
  <div class="checklist-left">
 
  </div>
  <tbody>
  <div class="checklist-right">
      <% @categories.each do |c| %>
       <ul>
         <li><button class="btn btn-default" type="submit"><%= c.name %></button></li>
       </ul>
      <% end %>
  </div>
</div>
     
     
     
     <div class="container-right col-xs-6">
     <table>
      <% @advices.each do |advice| %>
        <tr>
          <div class="panel panel-default">
            <%= form_for advice do |f| %>
              <%= f.check_box :status %>
              <%= f.submit %>
            <% end %>
            <div class="panel-heading" role="tab" class = "cat<%= advice.category_id %>"  id= "heading<%= @class += 1%>">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= @class%>" aria-expanded="true" aria-controls="collapse<%= @class%>">

                  <%= advice.name %>
                </a>
                </h4>
              </div>
              <div id="collapse<%= @class%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= @class %>">
                <div class="panel-body">
                  <p><%= advice.content %></p>
                  <p><a href="<%= advice.link %>"><%= advice.linkname %></a></p>
              <!--Bouttons show - edit - Destroy-->
                  <td><%= link_to 'Show', advice %></td>
                  <td><%= link_to 'Edit', edit_advice_path(advice) %></td>
                  <td><%= link_to 'Destroy', advice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
                </div>
              </div>
      <% end %>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Advice', new_advice_path %>