<!-- si l'utilisateur est logé et a déjà remplit le questionnaire, on lui affiche les advices. -->
<% if user_signed_in? && current_user.checklists.exists? %>
<p id="notice"><%= notice %></p>

<div class="checklist col-xs-4">
  <div id="btn-checklist">
    <p>Check-List</p>
  </div>

  <div class="container-left">
    
    <div class="checklist-right">
        <% @categories.each do |c| %>
        <div class="cercle col-xs-1" id="color<%= @class += 1%>"></div>
         <ul>
           <li><button class="btn btn-default menu<%= @menu +=1%>" type="submit"><%= c.name %></button></li>
         </ul>
        <% end %>
    </div>
  </div>
</div>

<div class="container-right col-xs-8">
  <table>
    <% @advices.where(ref: '1').each do |advice| %>
          <%= render :partial => "onglet", :locals => {:advice => advice} %>
    <% end %>
        <% @advices.where(ref: '2').each do |advice| %>
        <%= render :partial => "onglet", :locals => {:advice => advice} %>
    <% end %>
        <% @advices.where(ref: '3').each do |advice| %>
        <%= render :partial => "onglet", :locals => {:advice => advice} %>
    <% end %>
        <% @advices.where(ref: '4').each do |advice| %>
        <%= render :partial => "onglet", :locals => {:advice => advice} %>
    <% end %>
        <% @advices.where(ref: '5').each do |advice| %>
        <%= render :partial => "onglet", :locals => {:advice => advice} %>
    <% end %>
        <% @advices.where(ref: '6').each do |advice| %>
        <%= render :partial => "onglet", :locals => {:advice => advice} %>
    <% end %>
  </table>
</div>
    <!-- 	Si il n'y a pas ces 2 conditions on l'invite à remplir le questionnaire -->
    <% else %>
	<%= link_to 'Commencer maintenant !', new_checklist_path %>
<% end %>