<%= form_for(@checklist) do |f| %>
  <% if @checklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checklist.errors.count, "error") %> prohibited this checklist from being saved:</h2>

      <ul>
      <% @checklist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.check_box :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.check_box :twitter %>
  </div>
  <div class="field">
    <%= f.label :linkedin %><br>
    <%= f.check_box :linkedin %>
  </div>
  <div class="field">
    <%= f.label :viadeo %><br>
    <%= f.check_box :viadeo %>
  </div>
  <div class="field">
    <%= f.label :instagram %><br>
    <%= f.check_box :instagram %>
  </div>
  <div class="field">
    <%= f.label :community %><br>
    <%= f.check_box :community %>
  </div>
  <div class="field">
    <%= f.label :cms %><br>
    <%= f.check_box :cms %>
  </div>
  <div class="field">
    <%= f.label :seo %><br>
    <%= f.check_box :seo %>
  </div>
  <div class="field">
    <%= f.label :crowdfunding %><br>
    <%= f.check_box :crowdfunding %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
