<!-- Si un utilisateur arrive sur cette page alors qu'il a déjà remplit le questionnaire, on ne lui affiche pas les questions. -->
<% if current_user.checklists.exists? %>

  <p>Désolé, vous avez déjà remplit ce questionnaire !
  Rendez-vous sur l'<%= link_to "accueil", root_path %> pour consultez nos recommandations.</p>

  <% else %>

    <%= simple_form_for (@checklist) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="formCheck">
          <%= f.input :networks, label: 'Votre association a-t-elle un profil sur chacun de ces réseaux sociaux (facebook ; twitter ; instagram) ?', as: :radio_buttons %>
        </div>
        <div class="formCheck">
          <%= f.input :pro_networks, label: 'Votre association a-t-elle un profil sur ces réseaux sociaux professionnels (LinkedIn, Viadeo, Xing) ?', as: :radio_buttons %>
        </div>
        <div class="formCheck">
          <%= f.input :community, label: 'Postez-vous régulièrement des informations sur les réseaux sociaux ?', as: :radio_buttons %>
        </div>
        <div class="formCheck">
          <%= f.input :cms, label: 'Utilisez-vous un système de gestion de contenu (Wordpress, Wix, etc.) ?', as: :radio_buttons %>
        </div>
        <div class="formCheck">
        <%= f.input :seo, label: 'Votre site internet s\'affiche t-il dans les 10 premières propositions lors d\'une recherche sur Google ?',  as: :radio_buttons %>
        </div>
        <div class="formCheck">
        <%= f.input :crowdfunding, label: 'Avez-vous déjà utilisé des plateformes de collecte de dons / crowdfunding ?', as: :radio_buttons %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>

<% end %>
