<p id="notice"><%= notice %></p>

<p>
  <strong>Facebook:</strong>
  <%= @checklist.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @checklist.twitter %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @checklist.linkedin %>
</p>

<p>
  <strong>Viadeo:</strong>
  <%= @checklist.viadeo %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @checklist.instagram %>
</p>

<p>
  <strong>Community:</strong>
  <%= @checklist.community %>
</p>

<p>
  <strong>Cms:</strong>
  <%= @checklist.cms %>
</p>

<p>
  <strong>Seo:</strong>
  <%= @checklist.seo %>
</p>

<p>
  <strong>Crowdfunding:</strong>
  <%= @checklist.crowdfunding %>
</p>

<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
