<!DOCTYPE html>
<html>
<head>
  <title>Helpasso</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="../../assets/stylesheets/navbar.scss">
</head>
<body>   
   
   <nav class="navbar navbar-default">
      <div class="container-fluid">
        
         <ul class="nav navbar-nav">
            <li>
              <a class="navbar-brand" href="../home/index.html.erb">
              <img alt="Brand" src="../../assets/images/HelpAsso.png">
              </a>
              <div class="navbar-header">
            </li>
            <li class="btn"><button type="button" class="btn btn-success"><%= link_to "Sign_in" , new_user_session_path %></button></li>
            <li class="btn"><button type="button" class="btn btn-success"><%= link_to "Sign_up" , new_user_registration_path %></button></li>
            <li class="btn"><button type="button" class="btn btn-success"><%= link_to "Sign_out" , destroy_user_session_path , method: :delete %></button></li>
          </ul>
        </div>
      </div>
    </nav>
   
   
    <div class="container">


      
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>

    </div>


</body>
</html>
