<!DOCTYPE html>
<html>
<head>
  <title>Helpasso</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>   
  
  
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to(root_path) do %>
      <%= image_tag("HelpAsso.png", :width => "180rem")%>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
            <% if current_user.checklists.count == "0" %>
              <li class="btn"><%= link_to 'Commencer', new_checklist_path %>
            <% else %>
              <li class="btn"><%= notice %></li>
              <li class="navbar-text"> 

                  <div class="bar-prog">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @progress %>" aria-valuemin="10" aria-valuemax="100" style="width:<%= @progress %>%">
                      </div>
                    </div>
                  </div>
              </li>
            <% end %>
            <li class="btn"><%= link_to "Mon compte", edit_user_registration_path %></li>
            <li class="btn"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li class="btn" id="btn-full"><%= link_to 'Tester', new_checklist_path %></li>
            <li class="btn"><%= link_to "Connexion", new_user_session_path %></li>
            <li class="btn"><%= link_to "Inscription", new_user_registration_path %></li>
        </ul>
        <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
   
   
    <div class="container-fluid">



<!--
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
-->

      <%= yield %>
    </div>




</body>
<script type="text/javascript">
$('label').click(function() {
  $(this).addClass("checked");
  var page = $(this);
  var speed = 750; // Durée de l'animation (en ms)
  $('html, body').animate( { scrollTop: $(page).offset().top + 150}, speed ); // Go
});
  $( "input[value='Create Checklist']").val("Commencer l'analyse").addClass('submit');

</script>
</html>